
@{
    ViewBag.Title = "CargaTarifaHotel";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoTarifaDetalle.js"></script>

}

<style>

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


        #aspita{
        color: green;
    font-size: 15px;
    }
    #equis {
        color: red;
    font-size: 15px;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    thead th {
        background-color: #00a65a;
        color: white;
    }

    tbody td {
        background-color: #EEEEEE;
    }

    tr td:first-child,
    tr th:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    tr td:last-child,
    tr th:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>
@*<script id="responsive-template" type="text/x-handlebars-template">
        <div class="row">
            <div class="col-xs-12 header">
                <p id="tarifa"></p>
                <span>
                    <strong>TARIFA</strong>
                    <span id="tarifa"></span>
                </span>

            </div>
            <div class="col-xs-12 details">
                <table class="table table-borderless full-width">
                    <tbody>
                        <tr>
                            <th>NOMBRE</th>
                            <td id="nombre"></td>
                        </tr>
                        <tr>
                            <th>FECHA VALIDEZ</th>
                            <td id="fechavalidez"></td>
                        </tr>
                        <tr>
                            <th>FECHA INICIO</th>
                            <td id="fechainivigencia"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>*@

<section class="content-header">

    @*<h1>Datos Generales</h1>*@

</section>

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>*@
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <fieldset class="well the-fieldset">
                                <legend class="the-legend">@*<b>Beginning</b>*@</legend>
                                <label for="alias" class="col-sm-3 control-label no-pad-right">Supplier:</label>
                                <div class="col-sm-8 col-sm-8">
                                    <input class="form-control" id="proveedor_nombre" value="@ViewBag.Proveedor_Nombre" disabled>
                                    <input class="form-control hidden" id="proveedor" value="@ViewBag.Proveedor" disabled>
                                    <input class="form-control hidden" id="tservicio" value="@ViewBag.Tipo_Servicio" disabled>
                                    <br />
                                </div>
                                <div class="col-md-9 col-md-9">

                                    @using (Html.BeginForm("CargaTarifaHotel", "TarifaHoteles", new
                                    {
                                        Proveedor = @ViewBag.Proveedor,
                                        TipoServicio = "Hoteles"
                                    }, FormMethod.Post, new { enctype = "multipart/form-data", id = "form_hoteles" }))
                                    {


                                        <input type="file" id="triggers" class="filestyle" data-buttonName="btn-warning" name="UploadedFile" data-buttonBefore="true" data-buttonText="Import Excel" data-size="sm"/>
                                        @*<input type="submit" btn btn-warning name="Submit" value="Submit" />*@
                                        @*<input type="file" class="filestyle" data-buttonName="btn-primary">*@
                                    }

                                </div>
                            </fieldset>
                        </div>
                    </div>
                    @* PARA HOTELES *@
     
                    <button class="btn btn-warning" id="btn-guardarCargaHot">
                        <span class="glyphicon glyphicon-save">SAVE</span>
                    </button>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Results</h3>
                @*<select>
                        <option value=""></option>
                        <option value="Activo">ACTIVO</option>
                        <option value="Inactivo">INACTIVO</option>

                    </select>*@
            </div>
            <form>
                <div class="box-body">
                    <table id="resultados" class="display compact responsive no-wrap" style="width: 100%;"></table>
                </div>
            </form>
        </div>
    </div>
</div>
