
@{
    ViewBag.Title = "CrearPlantillaDetalle";
}

@*<h2>CrearPlantillaDetalle</h2>*@

@section Scripts {
    <script src="~/Scripts/app/MantenimientoPlantilla.js"></script>
<script src="~/Scripts/app/MantenimientoPlantillaDetalle.js"></script>




}

<style>
    .modal-content {
        border-radius: 10px !important;
    }

    .modal-header .close {
        display: none;
    }



    .modal-header-danger {
        color: #fff;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #d9534f;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>
<script id="responsive-template" type="text/x-handlebars-template">
    @*<div class="row">
        <div class="col-xs-12 header">
            <p id="tarifa"></p>
            <span>
                <strong>TARIFA</strong>
                <span id="tarifa"></span>
            </span>

        </div>
        <div class="col-xs-12 details">
            <table class="table table-borderless full-width">
                <tbody>
                    <tr>
                        <th>NOMBRE</th>
                        <td id="nombre"></td>
                    </tr>
                    <tr>
                        <th>FECHA VALIDEZ</th>
                        <td id="fechavalidez"></td>
                    </tr>
                    <tr>
                        <th>FECHA INICIO</th>
                        <td id="fechainivigencia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
</script>

@*<section class="content-header">

    <h1>Template Details</h1>

</section>*@

@*<section class="content">*@

    <form class="form-horizontal">
     

        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Template Details</h3>
                    </div>
                    <div class="box-body">
                  
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Template :</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="id_plantilla" value="@Model.ID_PLANTILLA" disabled>
                                @*<input type="hidden" class="form-control" id="proveedor" value="@Model.PROVEEDOR" hidden>*@
                            </div>
                    
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Supplier:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="proveedor" class="selectpicker" data-size="5" data-live-search="true">
                                    <option value="0">--- Seleccione ---</option>
                                    @foreach (var proveedores in Model.Proveedores)
                                    {
                                        <option value="@proveedores.PROVEEDOR">@proveedores.ALIAS</option>
                                    }
                                </select>

                            </div>
                        </div>

                        @*@if (Model.DESCR_TIPO_SERVICIO == "TERRESTRE" || Model.DESCR_TIPO_SERVICIO == "AEREO")
                            {*@

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">City:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="ciudad" class="selectpicker" data-size="5" data-live-search="true">
                           
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service Type:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tiposervicio" class="selectpicker" data-size="5">
                                    <option value="">--- Nothing Selected ---</option>
                                    <option value="TER">TERRESTRE</option>
                                    <option value="HTL">HOTEL</option>
                                    <option value="AER">AEREO</option>
                                    <option value="OTR">OTROS</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service :</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="servicio" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Accomodation Type:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipoacco" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Tariff Range:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="npersona" value="">
                            </div>
                         
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">N° Adults:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="npersona" value="">
                            </div>
                            <label for="alias" class="col-xs-12 col-sm-1 control-label no-pad-right">N° Child:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="hasta" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Day:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="npersona" value="">
                            </div>
                            <label for="alias" class="col-xs-12 col-sm-1 control-label no-pad-right">Order:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="hasta" value="">
                            </div>
                        </div>
                       

                      
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning" id="btn-guardar-detalle">Save</button>
                            <button type="button" class="btn btn-warning" id="btn-cancelar">Regresar</button>

                            @*<button type="button" class="btn btn-warning" id="btn-cancelar">Cancelar</button>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

    @*</section>*@


    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Services</h3>
                </div>
                <form>
                    <div class="box-body">
                        <table id="detalleplantilla" class="display compact responsive no-wrap" style="width: 100%;"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>





    @*<div class="modal fade" id="myModal" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><i class="glyphicon glyphicon-remove"></i> Information</h4>
                </div>
                <div class="modal-body">
                    <p>This range already exists</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
