
@{
    ViewBag.Title = "CrearPlantillaDetalle";
}

<h2>CrearPlantillaDetalle</h2>

<style>
    .modal-content {
        border-radius: 10px !important;
    }

    .modal-header .close {
        display: none;
    }



    .modal-header-danger {
        color: #fff;
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #d9534f;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>
<script id="responsive-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-xs-12 header">
            <p id="tarifa"></p>
            <span>
                <strong>TARIFA</strong>
                <span id="tarifa"></span>
            </span>

        </div>
        <div class="col-xs-12 details">
            <table class="table table-borderless full-width">
                <tbody>
                    <tr>
                        <th>NOMBRE</th>
                        <td id="nombre"></td>
                    </tr>
                    <tr>
                        <th>FECHA VALIDEZ</th>
                        <td id="fechavalidez"></td>
                    </tr>
                    <tr>
                        <th>FECHA INICIO</th>
                        <td id="fechainivigencia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<section class="content-header">

    @*<h1>Datos Generales</h1>*@

</section>
<form class="form-horizontal">
    @*<div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                </div>

                <div class="box-body">
                    <div class="form-group">
                
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Supplier:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" value="" disabled>
                            <input type="hidden" class="form-control" id="proveedor" value="" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service Type:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" value="" disabled>
                            <input type="hidden" class="form-control" id="tiposervicio" value="" disabled>
                            <input type="hidden" class="form-control" id="servicio" value="" disabled>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Service description:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" value="" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>*@
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-4 col-md-3">
                            <button type="button" class="btn btn-warning RegistrarPeriodo">New Perido</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Rate period:</label>
                        <div class="col-xs-7 col-sm-5">
                            <select id="periodo" class="selectpicker" data-size="5">
                                <option value="0">--- Seleccione ---</option>
                                @*@foreach (var fechas in Model.Fechas)
                                {
                                    <option value="@fechas.ID_TARIFA">@fechas.FECHA</option>
                                }*@
                            </select>
                        </div>
                    </div>

                    @*@if (Model.DESCR_TIPO_SERVICIO == "TERRESTRE" || Model.DESCR_TIPO_SERVICIO == "AEREO")
                    {*@

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Type accommodation:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipoacomodacion" class="selectpicker" data-size="5">
                                    <option value="PVT">Privado</option>
                                    <option value="CMP">Compartido</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Passenger Type:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipopasajero" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="ADULTO">ADULTO</option>
                                    <option value="CHILD">NIÑO</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Number of people:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="npersona" value="">
                            </div>
                            <label for="alias" class="col-xs-12 col-sm-1 control-label no-pad-right">Until:</label>
                            <div class="col-xs-7 col-sm-2">
                                <input class="form-control" id="hasta" value="">
                            </div>
                        </div>
                    }

                    @*@if (Model.DESCR_TIPO_SERVICIO == "HOTEL")
                    {*@
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Type accommodation:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipoacomodacion" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="MSS">MASTER SUITE</option>
                                    <option value="EXR">EXECUTIVE ROOM</option>
                                    <option value="SPR">SUPERIOR</option>
                                    <option value="JNS">JUNIOR SUITE</option>
                                    <option value="PMS">PREMIER SUPERIOR</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Type of room:</label>
                            <div class="col-xs-7 col-sm-5">
                                <select id="tipopasajero" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="SGL">SINGLE</option>
                                    <option value="DWL">DOUBLE</option>
                                    <option value="TPL">TRIPLE</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">nª room:</label>
                                <div class="col-xs-2 col-sm-2">
                                    <input class="form-control" id="npersona" value="">
                                </div>
                            </div>*@
                    @*}*@

                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Net rate x person:</label>
                        <div class="col-xs-7 col-sm-2">
                            <input class="form-control" id="neto" value="">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-md-3">
                            <button type="button" class="btn btn-warning RegistrarTarifa">Guardar Tarifa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados</h3>
            </div>
            <form>
                <div class="box-body">
                    <table id="resultados" class="display compact responsive no-wrap" style="width: 100%;"></table>
                </div>
            </form>
        </div>
    </div>
</div>





<div class="modal fade" id="myModal" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h4 class="modal-title">Modal Header</h4>*@
                <h4><i class="glyphicon glyphicon-remove"></i> Information</h4>
            </div>
            <div class="modal-body">
                <p>This range already exists</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>