@{
    ViewBag.Title = "Servicios";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoServicio.js"></script>
}

<style>
    textarea {
        height: 100px;
        max-height: 100px;
    }
    #label_izq {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>Carga de Servicio</h1>
</section>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Datos Generales</h3>*@
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 col-md-2 control-label no-pad-right">Supplier:</label>
                            <div class="col-xs-12 col-sm-5 col-md-5">
                                <select class="selectpicker" data-size="5">
                                    <option>--- Seleccione ---</option>
                                    <option>Condor Travel</option>
                                    <option>Nuevo Mundo</option>
                                    <option>Avianca</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-sm-5">
                                <input type="file" name="example" id="input01" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                                    <div class="bootstrap-filestyle input-group">
                                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                                            <label for="input01" class="btn btn-default ">
                                                <span class="icon-span-filestyle glyphicon glyphicon-folder-open"> </span>
                                                <span class="buttonText">&nbsp;Import Excel</span>
                                            </label>
                                        </span>
                                            <input type="text" class="form-control " placeholder="" disabled="">                                         
                                  </div>                                
                            </div>
                        </div>
                        <div class="form-group">                            
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <button href="#" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <button class="btn btn-warning">
                                    <span class="glyphicon glyphicon-save"></span> Save
                                </button>
                            </div> 
                            <div class="col-xs-12 col-sm-4 col-md-2">
                                <button href="#" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                                </button>
                            </div>                             
                        </div>
                    </div>

                </div>
            </div>
        </div>
  
    </form>