@model TraveLinux.Web.Models.ServicioViewModels
@{
    ViewBag.Title = "NuevoServicio";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoServicio.js"></script>
}

<style>
.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
}

.panel-body {
  padding-top: 30px !important;
}
</style>

<section class="content-header">

    <h1>Datos Generales</h1>

</section>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Datos Generales</h3>*@
                    </div>

                    <div class="box-body">

                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Proveedor:</label>
                            <div class="col-xs-8 col-sm-3">
                                <input class="form-control" type="text" value="@Model.PROVEEDOR_NOMBRE">
                                <input type="hidden" class="form-control" id="proveedor" value="@Model.PROVEEDOR">
                            </div>
                            <div class="col-xs-4">
                                <div class="col-xs-4 col-sm-4">
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input type="checkbox" class="styled" id="inlineCheckbox1" checked>
                                        <label for="inlineCheckbox1" class="">Active</label>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Nombre:</label>
                            <div class="col-xs-8 col-sm-3">
                                <input class="form-control" id="nombre" placeholder="Enter name">
                            </div>
                            <label for="type" class="col-xs-12 col-sm-1 control-label no-pad-right">Type:</label>
                            <div class="col-xs-12 col-sm-7 col-md-5">
                                <select id="tproveedor" class="selectpicker" data-size="5" required>
                                    <option value="">--- Seleccione ---</option>
                                    <option value="TERRESTRE">TERRESTRE</option>
                                    <option value="HOTEL">HOTEL</option>
                                    <option value="AEREO">AEREO</option>
                                    <option value="OTROS">OTROS</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header">
                        @*<h3 class="box-title">Datos Secundarios</h3>*@
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Valoracion Por Servicio:</label>
                            <div class="col-xs-12 col-sm-5 col-md-3">
                                <select id="valorxservicio" class="selectpicker">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="monto_fijo">MONTO FIJO</option>
                                    <option value="cant_pasaj">CANTIDAD PASAJEROS O HAB</option>
                                    <option value="cant_pasaj_tipo">CANTIDAD PASAJEROS POR TIPO DE</option>
                                    <option value="porcent_venta_total">PORCENTAJE DE VENTA TOTAL</option>
                                </select>
                            </div>                            
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <input class="form-control" id="valor" placeholder="Enter Value">
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label no-pad-right">Duration:</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="duracion" placeholder="">
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-4">
                                <select id="turno" class="selectpicker">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="DIA">DIA</option>
                                    <option value="TARDE">TARDE</option>
                                    <option value="NOCHE">NOCHE</option>                           
                                </select>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        @*<h3 class="box-title">Datos Terciario</h3>*@
                    </div>
                    <div class="box-body">
                        <div class="panel panel-primary">
                            <div class="form-group">
                                <div class="panel-body">
                                    <h5 class="text-on-pannel text-primary"><strong class="text-uppercase">Servicio Incluye </strong></h5>
                                    <div class="col-xs-12 col-sm-4">
                                        @*<p>State:</p>*@
                                        <div class="checkbox checkbox-success checkbox-inline">
                                            <input type="checkbox" class="styled" id="Checkboxdesa">
                                            <label for="Checkboxdesa">Desayuno</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        @*<p>State:</p>*@
                                        <div class="checkbox checkbox-success checkbox-inline">
                                            <input type="checkbox" class="styled" id="Checkboxalmu">
                                            <label for="Checkboxalmu">Almuerzo</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        @*<p>State:</p>*@
                                        <div class="checkbox checkbox-success checkbox-inline">
                                            <input type="checkbox" class="styled" id="Checkboxcena">
                                            <label for="Checkboxcena">Cena</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                <p>Aeroline:</p>
                                <input class="form-control" id="aerolinea" placeholder="Enter Aerolinea">
                            </div>
                            @*<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <p>Box Lunch:</p>
                                <input class="form-control" id="boxlunch" placeholder="Enter Lunch">
                            </div>*@
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <p>Ruta:</p>
                                <input class="form-control" id="ruta" placeholder="Enter Ruta">
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        @*<h3 class="box-title">Notas</h3>*@
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <p>Description:</p>
                                <input class="form-control" id="descripcion" placeholder="Enter Description">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <p>Type of service:</p>
                                <select id="tipo" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="Privado">Privado</option>
                                    <option value="Compartido">Compartido</option>                                    
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <p>Type:</p>
                                <select id="tipopersona" class="selectpicker" data-size="5">
                                    <option value="">--- Seleccione ---</option>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Niño">Niño</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        @*<h3 class="box-title">Notas</h3>*@
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" class="styled" id="clienteCheckbox">
                                <label for="clienteCheckbox" class="">See Client Itenerary</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" class="styled" id="proveedorCheckbox">
                                    <label for="proveedorCheckbox" class="">View Itenerary Provider</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" class="styled" id="precioCheckbox">
                                    <label for="precioCheckbox" class="">Obligatory Price</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <label for="name" class="col-sm-6 control-label no-pad-right">Start Service Time (HH:MM):</label>
                                <div class="col-sm-3">
                                    <input class="form-control" id="time" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @*<label for="name" class="col-xs-12 col-sm-1 control-label no-pad-right">Country:</label>*@
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <p>Country:</p>
                                <select id="pais" class="selectpicker" data-size="5" data-live-search="true">
                                    <option>--- Seleccione ---</option>
                                    @foreach (var paises in Model.Paises)
                                    {
                                        <option value="@paises.PAIS">@paises.NOMBRE</option>
                                    }
                                </select>
                            </div>                            
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <p>State:</p>
                                <select id="departamentos" class="selectpicker"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        @*<h3 class="box-title">Notas</h3>*@
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-1 control-label no-pad-right">Español:</label>
                            <div class="col-xs-12 col-md-11">
                                @*<p>Address:</p>*@
                                <textarea class="form-control" id="des_esp" rows="5" placeholder="Enter ..."></textarea>
                                <br />
                            </div>

                            <label for="name" class="col-xs-12 col-sm-1 control-label no-pad-right">Ingles:</label>
                            <div class="col-xs-12 col-md-11">
                                @*<p>Address:</p>*@
                                <textarea class="form-control" id="des_ingles" rows="5" placeholder="Enter ..."></textarea>
                                <br />
                            </div>

                            <label for="name" class="col-xs-12 col-sm-1 control-label no-pad-right">Portugues:</label>
                            <div class="col-xs-12 col-md-11">
                                @*<p>Address:</p>*@
                                <textarea class="form-control" id="des_port" rows="5" placeholder="Enter ..."></textarea>
                                <br />
                            </div>

                            <label for="name" class="col-xs-12 col-sm-1 control-label no-pad-right">Aleman:</label>
                            <div class="col-xs-12 col-md-11">
                                @*<p>Address:</p>*@
                                <textarea class="form-control" id="des_ale" rows="5" placeholder="Enter ..."></textarea>
                                <br />
                            </div>

                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning" id="btn-guardar">Guardar</button>
                            <button type="button" class="btn btn-warning" id="btn-cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
