@model TraveLinux.Web.Models.ProveedorViewModels
@{
    ViewBag.Title = "ServicioProveedor";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoServicio.js"></script>
}

<style>
    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }
</style>
<script id="responsive-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-xs-12 header">
            <p id="tarifa"></p>
            <span>
                <strong>TARIFA</strong>
                <span id="tarifa"></span>
            </span>

        </div>
        <div class="col-xs-12 details">
            <table class="table table-borderless full-width">
                <tbody>
                    <tr>
                        <th>NOMBRE</th>
                        <td id="nombre"></td>
                    </tr>
                    <tr>
                        <th>FECHA VALIDEZ</th>
                        <td id="fechavalidez"></td>
                    </tr>
                    <tr>
                        <th>FECHA INICIO</th>
                        <td id="fechainivigencia"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<section class="content-header">

    @*<h1>Datos Generales</h1>*@

</section>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>*@
                </div>

                <div class="box-body">
                    <div class="form-group">
                        @*<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">*@
                        <div class="col-sm-4 col-md-3">                            
                            <button class="btn btn-warning btn-block RegistrarServicio" title="Crear Servicio"><span class="glyphicon glyphicon-list-alt"></span> New Services</button>                            
                        </div>
                        <div class="col-sm-4 col-md-3">                            
                            <button class="btn btn-warning btn-block CargaServicio" title="Cargar Servicio"><span class="glyphicon glyphicon-list-alt"></span> Services Upload </button>
                            <br />
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <button class="btn btn-warning btn-block CargaTarifa" title="Cargar Tarifa"><span class="glyphicon glyphicon-list-alt"></span> Rate Upload </button>
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Supplier:</label>
                        <div class="col-xs-7 col-sm-5">
                            <input class="form-control" id="nombre" value="@Model.NOMBRE" disabled>
                            <input type="hidden" class="form-control" id="proveedor" value="@Model.PROVEEDOR" hidden>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-xs-4 col-sm-4">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" class="styled" id="inlineCheckbox1" checked>
                                    <label for="inlineCheckbox1" class="">State:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <fieldset class="well the-fieldset">
                                <legend class="the-legend"><b>Beginning</b></legend>
                                <label for="alias" class="col-sm-3 control-label no-pad-right">Since:</label>
                                <div class="col-sm-9">
                                    <div class="input-group date" id="dtp_since">
                                        <input type="text" class="form-control input-sm" data-date-format="YYYY-MM-DD" />
                                        <span class="input-group-addon input-sm">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    <br />
                                </div>
                                <label for="alias" class="col-sm-3 control-label no-pad-right">Until:</label>
                                <div class="col-sm-9">
                                    <div class="input-group date" id="dtp_until">
                                        <input type="text" class="form-control input-sm" data-date-format="YYYY-MM-DD" />
                                        <span class="input-group-addon input-sm">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados</h3>
            </div>
            <form>
                <div class="box-body">
                    <table id="resultados" class="display compact responsive no-wrap" style="width: 100%;"></table>
                </div>
            </form>
        </div>
    </div>
</div>

