
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/Scripts/app/MantenimientoMoneda.js"></script>
}

<style>
    .radio {
    padding-left: 10px;
}
    textarea {
        height: 100px;
        max-height: 100px;
    }

    #label_izq {
        text-align: left;
    }

    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    .well {
        padding: 1px 0px 10px 10px !important;
        margin-bottom: 20px;
        background-color: #eeeeee !important;
        border: 1px solid #e3e3e3;
    }

    p {
        text-align: left;
    }

    .form-horizontal .form-group {
        margin-bottom: 30px;
    }

    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f39c12;
    border-color: #e08e0b;
}


</style>

<script id="responsive-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-xs-12 header">
            <p id="descripcion"></p>
            <span>
                <strong>Moneda</strong>
                <span id="moneda"></span>
                <strong>VALOR:</strong>
                <span id="valor"></span>
                <strong>ESTADO:</strong>
                <span id="estado"></span>
            </span>

        </div>
        <div class="col-xs-12 details">
            <table class="table table-borderless full-width">
                <tbody>
                    <tr>
                        <th>MONEDA</th>
                        <td id="moneda"></td>
                    </tr>
                    <tr>
                        <th>DESCRIPCION</th>
                        <td id="descripcion"></td>
                    </tr>
                    <tr>
                        <th>VALOR</th>
                        <td id="valor"></td>
                    </tr>
                    <tr>
                        <th>ESTADO</th>
                        <td id="estado"></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</script>





<section class="content-header">
    <h1>Moneda</h1>
</section>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                @*<div class="box-header with-border">
                    @*<h3 class="box-title">Datos Generales</h3>
                </div>*@
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-4   col-md-offset-2 col-md-4">
                            <fieldset class="well the-fieldset">
                                <legend class="the-legend">Coin</legend>
                                <div class="radio radio-danger">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="descripcion" placeholder="Enter Coin"><br>
                                        <input class="form-control" id="valor" placeholder="Enter Value">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <fieldset class="well the-fieldset">
                                <legend class="the-legend">State</legend>
                                <div class="radio radio-danger">
                                    <div class="col-sm-12">
                                        <div class="radio radio-danger">
                                            <input type="radio" name="person" id="estado" value="1"><label for="person">Active</label>
                                        </div>
                                        <div class="radio radio-danger">
                                            <input type="radio" name="person" id="estado" value="0"><label for="person">Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                            <button class="btn btn-warning btn-block" id="btn-guardar">
                                <span class="glyphicon glyphicon-save"></span>Save
                            </button>
                        </div>
                        @*<div class="col-xs-12 col-sm-3 col-md-4">
                            <button href="#" class="btn btn-warning btn-block">
                                <span class="glyphicon glyphicon-floppy-remove"></span> Cancel
                            </button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados</h3>
            </div>
            <form>
                <div class="box-body">
                    <table id="resultados" class="display compact responsive no-wrap" style="width: 100%;"></table>
                </div>
            </form>
        </div>
    </div>
</div>