
@{
    ViewBag.Title = "Cotización";
}
<style>
    textarea {
        height: 100px;
        max-height: 100px;
    }

    #label_izq {
        text-align: left;
    }

    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    .well {
        padding: 1px 0px 10px 10px !important;
        margin-bottom: 20px;
        background-color: #eeeeee !important;
        border: 1px solid #e3e3e3;
    }
</style>

<section class="content-header">

    <h1>Datos Generales</h1>

</section>
<section class="content">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        @*<h3 class="box-title">Datos Generales</h3>*@
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Quatation:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="enterAlias" placeholder="Enter Quatation">
                            </div>
                        </div>                            
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Pax/Group Name:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="enterAlias" placeholder="Pax/Group Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Customer:</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="enterAlias" placeholder="Enter Customer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Status:</label>
                            <div class="col-sm-5">
                                <select class="selectpicker" data-size="5">
                                    <option>--- Seleccione ---</option>
                                    <option>Opcion 1</option>
                                    <option>Opcion 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Country:</label>
                            <div class="col-sm-5">
                                <select class="selectpicker" data-size="5">
                                    <option>--- Seleccione ---</option>
                                    <option>Opcion 1</option>
                                    <option>Opcion 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-sm-2 control-label no-pad-right">Executive:</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="enterAlias" placeholder="Sandy Condor" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Open Date:</label>
                            <div class="col-xs-12 col-sm-3">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control input-sm" data-date-format="YYYY-MM-DD" />
                                    <span class="input-group-addon input-sm">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Date Begin:</label>
                            <div class="col-xs-12 col-sm-3">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control input-sm" data-date-format="YYYY-MM-DD" />
                                    <span class="input-group-addon input-sm">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Date End:</label>
                            <div class="col-xs-12 col-sm-3">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control input-sm" data-date-format="YYYY-MM-DD" />
                                    <span class="input-group-addon input-sm">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Reason no sale:</label>
                            <div class="col-xs-12 col-sm-5">
                                <select class="selectpicker" data-size="5">
                                    <option>--- Seleccione ---</option>
                                    <option>Opcion 1</option>
                                    <option>Opcion 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-3 col-sm-2 control-label no-pad-right">Markup:</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="enterAlias">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="alias" class="col-xs-12 col-sm-2 control-label no-pad-right">Rango Pax:</label>
                            <div class="col-xs-3 col-sm-1">
                                <input class="form-control" id="enterAlias">
                            </div>
                            <div class="col-xs-9 col-sm-2">
                                <input class="form-control" id="enterAlias">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inlineCheckbox1" class="col-xs-4 col-sm-2 control-label no-pad-right">Save it as a template:</label>
                            <div class="col-xs-4 col-sm-4">                                
                                <div class="checkbox checkbox-success checkbox-inline">                                    
                                    <input type="checkbox" class="styled" id="inlineCheckbox1" value="option1">                                    
                                    <label for="inlineCheckbox1">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label no-pad-right">Notas:</label>
                            <div class="col-xs-12 col-sm-7">
                                <textarea class="form-control" rows="5" placeholder="Enter ..."></textarea>
                            </div>
                        </div>                        
                               
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning" id="btn-guardar">Guardar</button>
                            <button type="button" class="btn btn-warning" id="btn-cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>